.chat
  .chat__group-info
    .chat__group-info-box
      .chat__group-info-box-name 
        = @group.name
      .chat__group-info-box-menber 
        Menber:
        = @member

    .chat__group-info-box-edit
      = link_to edit_group_path(@group.id), method: :get do
        Edit
  .chat__message-list
    = render partial: 'message',collection:@messages
    -# .chat__message-list-box
    -#   .chat__message-list-box-info
    -#     %p.chat__message-list-box-info-name D
    -#     %p.chat__message-list-box-info-date 2019/12/24(Tue) 21:42:21
    -#   .chat__message-list-box-text test1
        

  .chat__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box-image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box-image-file'
      = f.submit 'Send', class: 'submit-btn'
    -# %form.chat__form-message
    -#   .input-box
    -#     %input.input-box-text{placeholder:"type a message",type: "text",}
    -#     %label.input-box-image{for:"message-image"}
    -#       = icon('fa', 'image')
    -#       %input.input-box-image-file{type:"file",id:"message-image"}
    -#   %input.submit-btn{type:"submit",value:"Send"}


